﻿body {
		background: url('/images/main-frame.png') fixed;
		background-position: center;
		background-size: cover;
}

h1 {
		color: gray;
}

.top-margin {
		margin-top: 30px!important;
}

.top-most {
		margin-top: 30px!important;
}

.top-middle {
		margin-top: 100px!important;
}

.top-light {
		margin-top: 170px!important;
}

.top-lighter {
		margin-top: 210px!important;
}

.solid-border {
		border: 1px solid green;
}

.transparent {
		opacity: 0.9;
}

.shadowed {
		text-shadow: 1px 1px 3px black;
}

.white {
		color: white;
}

.full-height {
		min-height: 100%;
		position: relative;
}

.filter-select {
		max-width: 180px!important;
		min-width: 100px!important;
}

footer {
		position: relative;
		bottom: 0px;
		right: 0px;
		left: 0px;
}

.oturum-header {
		text-shadow: 1px 1px 1px black;
		color: red;
		font-weight: normal!important;
}
/*******Semantic-UI Modifications*************/
.ui.widget {
		-webkit-box-shadow: 0em 0.2em 0em inset;
		-moz-box-shadow: 0em 0.2em 0em inset;
		box-shadow: 0em 0.2em 0em inset;
}
/* This will also have a red box shadow */

.ui.red.widget {
		color: #FF0000;
}
/*********************************************/
