%script{:type=>"text/javascript", :src=>"/javascripts/mvvm/schooling/lectures.js"}

.sixteen.wide.column
	%div{ :class => "ui raised segment #{@color} transparent" }
		%a{ :class => "ui #{@color} ribbon label", :href => "/#{@route}" }= @Header
		%span= @AppName
		#dersler-well.ui
			!= @partial 'components/gridify'

