%script{:type=>"text/javascript", :src=>"/javascripts/mvvm/schooling/students.js"}

.sixteen.wide.column
	.ui.raised.segment.teal.transparent
		%a.ui.teal.ribbon.label{ :onclick => "document.location.href = document.location.href" }= @Header
		%span= @AppName
		#dersler-well.ui
			!= @partial 'components/gridify'

