%script{:type=>"text/javascript", :src=>"/javascripts/mvvm/membership/activation.js"}

%div{ :class => "ui grid middle aligned center aligned" }
	.ui.raised.segment.red.transparent
		%a.ui.red.ribbon.label= @Header
		%form.ui.large.form.top-margin
			.ui.stacked
				.field
					.ui.left.icon.input
						%i.user.icon
						%input{ :type => "text", :data => {:bind => "validates: {submitter: 'activate-submit', validationTitle: messages.AdValidationFailed, validator: adValidator }, value: ad"}, :placeholder => @FirstNamePlaceholder }
				.field
					.ui.left.icon.input
						%i.user.icon
						%input{ :type => "text", :data => {:bind => "validates: {submitter: 'activate-submit', validationTitle: messages.SoyadValidationFailed, validator: soyadValidator }, value: soyad"}, :placeholder => @LastNamePlaceholder }
				.field
					.ui.lock.icon.input
						%i.terminal.icon
						%input{ :type => "text", :data => {:bind => "validates: {submitter: 'activate-submit', validationTitle: messages.TCKNValidationFailed, validator: tcknValidator }, value: tckn"}, :placeholder => @TCKNPlaceholder }
				.field
					.ui.left.icon.input
						%i.lock.icon
						%input{ :type => "password", :data => {:bind => "validates: {submitter: 'activate-submit', validationTitle: messages.PasswordValidationFailed, validator: passwordValidator }, value: password"}, :placeholder => @PasswordPlaceholder }
				.field
					.ui.left.icon.input
						%i.lock.icon
						%input{ :type => "password", :data => {:bind => "validates: {submitter: 'activate-submit', validationTitle: messages.TokenValidationFailed, validator: tokenValidator }, value: activationToken"}, :placeholder => @ActivationTokenPlaceholder }
				#activate-submit.ui.fluid.large.red.submit.button{ :data => { :bind => "click: submitForm" } }= @SubmitTitle
			.ui.error.message
		.ui.center.aligned
			.ui.grid.message.centered.red{:data=> { :bind => "click: loginLinkClicked" } }
				%span= @ActivatedSubtitle
				%a{:href=>"#"}= @ActivatedTitle